[Unit]
Description=CHATBOT-uWSGI-instance
After=network.target postgresql-11.service

[Service]
User=centos
Group=nginx
WorkingDirectory=/opt/CHATBOT
Environment="PATH=/opt/CHATBOT/venv/bin"
ExecStart=/opt/CHATBOT/venv/bin/uwsgi --ini /opt/CHATBOT/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
